---
import Main from "../components/Main";
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nhu Bao Truong</title>
  </head>
  <body>
    <Main client:visible />
  </body>
  <script src={bootstrap}></script>
</html>

<style is:global>
  body {
    text-rendering: optimizeLegibility;
  }
</style>
