---
import Main from "../components/Main";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import "../styles/index.scss";
import "@fontsource/inter";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Nhu Bao Truong</title>
  </head>
  <body
    class="justify-content-center align-items-center d-flex vh-100 container"
  >
    <Main client:load />
  </body>
  <script src={bootstrap}></script>
</html>
