<div class="text-center">
    <h1 class="m-5">You have reached 404 page.</h1>
    <h2 class="m-5">Click on Rick to go back to home page.</h2>
    <div class="w-100">
        <a href="/">
            <img src="/rick.webp" alt="Rick" />
        </a>
    </div>
</div>
