---
interface Props {
	href: string;
	icon: string;
	alt: string;
	isEmail?: boolean;
}

const { href, icon, alt, isEmail = false } = Astro.props;
---

<a 
  href={href} 
  class="text-white hover:text-indigo-300 transition-colors" 
  aria-label={alt}
  {...!isEmail && { target: "_blank", rel: "noopener noreferrer" }}
>
  <Fragment set:html={icon} />
</a> 