---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="bg-white/5 p-6 rounded-lg transform transition-transform hover:-translate-y-2">
    <h3 class="text-2xl font-bold text-cyan-400 mb-4">{title}</h3>
    <p class="text-white/90">
        {description}
    </p>
</div>