---
import "../styles/index.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
      defer></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha256-MBffSnbbXwHCuZtgPYiwMQbfE7z+GOZ7fBPCNB06Z98="
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8="
      crossorigin="anonymous"></script>
    <!-- end bootstrap -->
    <!-- analytics -->
    <!-- <script
      async
      src="https://analytics.eu.umami.is/script.js"
      data-website-id="eabca8ca-bf3d-427a-8b97-01adae0c39b8"></script> -->
    <!-- end analytics -->
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css"
      integrity="sha256-CTSx/A06dm1B063156EVh15m6Y67pAjZZaQc89LLSrU="
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/js/fontawesome.min.js"
      integrity="sha256-nYaidq7hMCMvoO8hNMdQYorKwQcqMeNet9ZWJGUvVJ0="
      crossorigin="anonymous"></script>
    <!-- end font awesome -->
    <!-- fonts -->
    <!-- <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/100.css"
      integrity="sha256-6hkpEvZlbt36hxOUTygu24Tc3vyiNC4ZtCwMDOwH7kE="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/200.css"
      integrity="sha256-zdKi+kDLiELljPd1xR9HzCYKiWb2R0qoM8cqFb17NYg="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/300.css"
      integrity="sha256-rDRsEhw/Q6OF/nZdpw6bX+ifRXBVZiIkUA6UJTPm3+I="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/400.css"
      integrity="sha256-HQWQB31fHmwP8g10lfLwdVSUVPwrQhB5Vl9NC7Ff60I="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/500.css"
      integrity="sha256-/QqrzcCzXB7WxVGhNUlDFu48+24wpS5AL8579sjoRkc="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/600.css"
      integrity="sha256-1hvLd16UlvVeV6K99cGSr2tvqJRGJWLc+vRIgztrFJ4="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/700.css"
      integrity="sha256-yG2/7lxJLt68BPZU2ZrUY2zye+qIpAedD/bYeykunDI="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/800.css"
      integrity="sha256-5FHsQd1iXoKr9/bAO4tw7fthq9oLKnqw/oXJgZyvkCc="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/900.css"
      integrity="sha256-VcsRSC8QdtCrYlFWPBTAtZm2nZaukonk2UKbECBPgfM="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/inter@5.0.15/index.css"
      integrity="sha256-HQWQB31fHmwP8g10lfLwdVSUVPwrQhB5Vl9NC7Ff60I="
      crossorigin="anonymous"
    />
    <!-- end fonts -->
    <title>Nhu Bao Truong</title>
  </head>
  <body>
    <slot />
  </body>
</html>
